<div class="row" >

  <div>

  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="fa fa-money bg-c-blue card1-icon"></i>
        <span class="text-c-blue f-w-600">Today's Orders</span>
        <h4>{{Dashboarddata?.todaySale}}</h4>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-blue f-16 icofont icofont-refresh m-r-10"></i>Just update
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="fa fa-money bg-c-green card1-icon"></i>
        <span class="text-c-green f-w-600">Total's Profit</span>
        <h4>{{Dashboarddata?.todayProfit}}</h4>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-green f-16 icofont icofont-refresh m-r-10"></i>Just update
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="fa fa-money bg-c-pink card1-icon"></i>
        <span class="text-c-pink f-w-600">Today's App Sale</span>
        <h4>{{Dashboarddata?.todayAppdsale}}</h4>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-pink f-16 icofont icofont-refresh m-r-10"></i>Just update
          </span>
        </div>
      </div>
    </div>
  </div>
 



 

 

  


 



</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
  <p style="color: white">Please Wait. </p>  
  </ngx-spinner> 