
@{
    ViewData["Title"] = "INdex";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="page-heading">
    <div class="page-title">
        <h2>Terms And Conditions</h2>
    </div>
</div>
<div class="container">
    <div class="vc_row wpb_row vc_row-fluid form_background">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="wpb_text_column wpb_content_element">
                        <div class="wpb_wrapper">
                            <p>The following rules and regulations contained in this document apply to all visitors and users of the Khan Organic Foods Fruit Supplier (khanorganicfoods.pk) website.</p>
                            <br />
                            <p>By using the Website, you accept and agree to be bound by these rules and regulations, as they may be updated from time to time and posted here without prior notice to you. You must, therefore, review them periodically.</p>
                            <p>&nbsp;</p>
                            <h3>Content of the Website and copyright information</h3>
                            <br />
                            <p>
                                You agree not to reproduce, distribute, sell, trade, resell or exploit for any commercial purposes the content of the Website.
                                You agree not to interfere with or disrupt the Website services, the security systems of the Website or of the Website content.
                                Please make sure that, before placing your order, you have checked the specifications and compatibility of the products by visiting the website of the manufacturer.
                                The administrators of Khan Organic Foods (Khanorganicfoods.pk) are constantly working on maintaining the accuracy of the information displayed on the Website. However, the Website does not warrant those product descriptions or other content of this Website is accurate, complete, reliable, current, or error-free. Please note that the photographs are provided for informational purposes only and that they can display certain product accessories that may not be included in the standard sales package.
                            </p>
                            <p>&nbsp;</p>
                            <h3>Limitations of liability</h3>
                            <br />
                            <p>The Website and the company that operates the Website will not in any case be liable to any party for any direct, indirect, incidental, special, consequential or punitive damages for use of this site or any other hyperlinked web sites including, without limitation, lost profits or revenues, costs of replacement, business interruptions, loss of data or damages resulting from use of or reliance on the information present.</p>
                            <p>&nbsp;</p>
                            <h3>Problem with the products received</h3>
                            <br />
                            <p>Faulty products can be returned to us if they have the following types of quality defects: stains, zipper malfunction, ripped or torn, poor quality materials, obvious color difference, major difference between the photographed product and the product received. If you experience the above problems, please contact us immediately at our Support Center.</p>
                            <p>&nbsp;</p>
                            <h3>Availability of the Website</h3>
                            <br />
                            <p>Khan Organic Foods Supplier (khanorganicfoods.pk) reserves the right to terminate, change, suspend or discontinue, temporarily or permanently, any aspect of the Website, including the availability of any features of the site, at any time and without notice. You agree that Khan Organic Foods Supplier (Khanorganicfoods.pk) shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Website (or any part thereof).</p>
                            <p>&nbsp;</p>
                            <p>If you have questions regarding our Terms of Use, please contact us on info@khanorganicfoods.pk</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row our-features-box">
        <ul>
            <li>
                <div class="feature-box klb-footer-box">
                    <i class="fa fa-truck"></i>
                    <div class="content">FREE SHIPPING in Lahore</div>
                </div>
            </li>
            <li>
                <div class="feature-box klb-footer-box">
                    <i class="fa fa-phone"></i>
                    <div class="content">HAVE A QUESTIONS? <a href="tel:+923107771866">+92 3107771866</a></div>
                </div>
            </li>


        </ul>
    </div>
</div>