

    <div class="row">
      <div class="col-sm-12">
<!-- Hover table card start -->
<app-card [title]="'Orders'" [classHeader]="true" [blockClass]="'table-border-style'">
  <span class="code-header">All Orders Detail</span>

  <div class="row">
    <div class="col-sm-12" >
     
    </div>
    <div class="col-sm-12" >
      <div class="container">
        <div class="row" >
          <div class="col-md-4">
     
          </div>
          <div class="col-md-2">
            <label style="float: left;">From Date</label>
             <input type="date" class="form-control" [(ngModel)]="FromDate">
          </div>
          <div class="col-md-2">
            <label style="float: left;">To Date</label>
             <input type="date" class="form-control"  [(ngModel)]="toDate">
          </div>
        
          <div class="col-md-2" >
            <br>
            <select #mySelect class="custom-select" [(ngModel)]="filtertype"
            >
              <option selected value="All">All</option>
             <option value="Pending">Pending</option>
             <option value="Active">Active</option>
             <option value="Completed">Completed</option>
             <option value="Cancelled">Cancelled</option>
        
            </select>
            </div>
            <div class="col-md-2">
              <br>
            <button type="submit" style="    padding: 5px;" class="btn btn-success" (click)="filterdate()" >filter</button>
            <button type="submit" style="    padding: 5px;margin-left: 8px;" class="btn-dark" (click)="clear()" >Clear</button>
            </div>
        </div>
      </div>
     
      
    </div>
  </div>
  <div class="table-responsive" style="padding: 2%;">
    <table class="table table-hover">
      <thead>
      <tr>
        <th (click)="Sort('id')">#<i class="fa fa-sort"></i></th>
        <th (click)="Sort('code')">Order No.<i class="fa fa-sort"></i></th>
        <th (click)="Sort('storename')">Contact No<i class="fa fa-sort"></i></th>
        <th (click)="Sort('createDate')">Order Type<i class="fa fa-sort"></i></th>
        <th (click)="Sort('createDate')">Created Date<i class="fa fa-sort"></i></th>
        <th (click)="Sort('createDate')">Quantity<i class="fa fa-sort"></i></th>
        <th (click)="Sort('createDate')">Total Amount<i class="fa fa-sort"></i></th>
        <th (click)="Sort('status')">Status<i class="fa fa-sort"></i></th>
      <th (click)="Sort('Action')">Action<i class="fa fa-sort"></i></th>
      <!-- <th>Image</th> -->
      </tr>
      </thead>
      <tbody>
      
      <tr *ngFor="let obj of OrdersList2 | paginate:{itemsPerPage:10,currentPage:p}; let i=index;" >
        <td style="width: 2px;">{{i+1}}</td>
        <td>{{obj.order.orderNumber}}</td>
        <td>{{obj.order.order_phoneno}}</td>
        <td>{{obj.order?.orderType}}</td>
        <td>{{obj.order.createdOn |date :'medium'}}</td>
        <td>{{obj.qty}}</td>
        <td>{{obj.total}}</td>
        <td>
          <p *ngIf="obj.order.orderStatus=='Cancelled'" class="btn btn-danger" style="    padding: 1px;">{{obj.order?.orderStatus}}</p> 
           <p *ngIf="obj.order.orderStatus=='Completed'" class="btn btn-info" style="    padding: 1px;">{{obj.order?.orderStatus}}</p> 
          <p *ngIf="obj.order.orderStatus=='Pending'" class="btn btn-danger" style="    padding: 1px;">{{obj.order?.orderStatus}}</p> 
          <p *ngIf="obj.order.orderStatus=='Active'" class="btn btn-success" style="    padding: 1px;">{{obj.order?.orderStatus}}</p>  </td>
    
       <td>  
        <button class="btn btn-info"  *ngIf="obj.order.orderStatus!='Completed'&& obj.order.orderStatus!='Cancelled'" class="btn btn-danger"  style="    padding: 1px;" (click)="changeorderstatus(obj.order,'Cancelled')" >Cancel Now</button>
          <button class="btn btn-info"  *ngIf="obj.order.orderStatus=='Active'" class="btn btn-info"  style="    padding: 1px;" (click)="changeorderstatus(obj.order,'Completed')" >Complate Now</button>
          <button class="btn btn-info" *ngIf="obj.order.orderStatus=='Pending'" class="btn btn-success" style="    padding: 1px;"(click)="changeorderstatus(obj.order,'Active')" >Active Now</button>
       
          <button class="btn btn-dark" style="    padding: 1px;margin-left: 5px;"   (click)="openOrderDetailLg(OrderDetailcontent,obj)">View And Print</button>
          <!-- <i class="fa fa-desktop" aria-hidden="true" style="font-size:18px;color:rgb(255, 0, 0)"  (click)="openOrderDetailLg(OrderDetailcontent,obj)" ></i> 
       
        <div style="padding: 4px;"*ngIf="obj.order.orderStatus!='Completed'">
          <i class="fa fa-edit" aria-hidden="true" style="font-size:18px;color:rgb(113, 147, 240)"  (click)="openOrderUpdateLg(EditStatuscontent,obj.order)" ></i> 
        </div> -->
   </td>
      </tr>
     
      </tbody>
    
    </table>
    <div class="row">
      <div style="right: 10%;">
        <pagination-controls (pageChange)="p=$event"></pagination-controls>
    </div>
  </div>
  </div>
</app-card>
<!-- Hover table card end -->
      </div>
    </div>

    <ng-template #OrderDetailcontent let-modal>
      
      <div class="modal-header">
        <h4 class="modal-title">Order Detail</h4>
      
      </div>
      
      <div class="modal-body">
           <div id="mytodosItemsId">
            <div id="invoice-POS">
              <div id="top">
                  <div class="logo" style="    margin-left: 25%;"></div>
                  <div class="info">
                      <h2 style="    margin-left: 42%;
                      margin-top: -4px;">KOF</h2>
                  </div>
                  <!--End Info-->
             
                </div>
              <!--End InvoiceTop-->
              <h2>Order No# {{orderNo}}</h2>
              <div id="mid">
                  <div class="info">
                      <h2>Contact Info</h2>
                      <p>
                          Address : Lahore, Pakistan<br>
                          Email:Info@khanorganicfoods.pk<br>
                          Phone   : +92 3107771866
                      </p>
                  </div>
              </div>
              <!--End Invoice Mid-->
              <div id="bot">
                  <div id="table">
                      <table>
                          <tr class="tabletitle">
                              <td class="item">
                                  <h2>Item</h2>
                              </td>
                              <td class="Hours">
                                  <h2>Qty</h2>
                              </td>
                              <td class="Hours">
                                <h2>Unit Price</h2>
                            </td>
                              <td class="Rate">
                                  <h2>Sub Total</h2>
                              </td>
                          </tr>
                          <tr class="service" *ngFor="let obj of orderitemns">
                              <td class="tableitem">
                                  <p class="itemtext">{{obj?.product}}
                                    <br>({{obj?.unit}} )</p>
                              </td>
                              <td class="tableitem">
                                  <p class="itemtext">{{obj?.item.quantity}}</p>
                              </td>
                              <td class="tableitem">
                                  <p class="itemtext">{{obj?.item.perUnitPrice}}</p>
                              </td>
                              <td class="tableitem">
                                <p class="itemtext">{{obj?.item.perUnitPrice}}</p>
                            </td>
                            <td class="tableitem">
                              <p class="itemtext">{{obj?.item.totalPrice}}</p>
                          </td>
                        
                    
                          <tr class="tabletitle">
                              <td></td>
                              <td></td>
                          
                              <td class="Rate">
                                  <h2>Qty</h2>
                              </td>
                            
                              <td class="payment">
                                  <h2>{{orderquntity}}</h2>
                              </td>
                          </tr>
                          <tr class="tabletitle">
                            <td></td>
                            <td></td>
                              <td class="Rate">
                                  <h2>Total</h2>
                              </td>
                              <td class="payment">
                                  <h2>{{orderamount}}</h2>
                              </td>
                          </tr>
                      </table>
                  </div>
                  <!--End Table-->
                  <div id="legalcopy">
                      <p class="legal">
                          <strong>Thank you for your business!</strong>  
                      </p>
                  </div>
              </div>
              <!--End InvoiceBot-->
          </div>  
           </div>
      
   
    
    
      </div>
      <div class="modal-footer">
        
        <button  class="btn btn-info"  printSectionId="mytodosItemsId" [useExistingCss]="true" styleSheetFile="./AllOrders.component.scss" ngxPrint >Print</button>
        <button (click)="toCanvas()" class="btn btn-success">Download </button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>
  
  
    <ng-template #EditStatuscontent let-modal>
      
      <div class="modal-header">
        <h4 class="modal-title">Order Detail</h4>
      
      </div>
      <div class="modal-body">

        <div class="container">
          <form [formGroup]="orderstatus" >
      <input type="hidden" formControlName="orderId"/>
            <label>Select Status</label>
            <select class="custom-select custom-select-lg sm-1"formControlName="status"
            (change)='onOptionsOrderStatusSelected()'>
             
              <!-- <option value="Pending" *ngIf="ordercurrentstatus==''">Pending</option> -->
              <option value="Active"*ngIf="ordercurrentstatus=='Pending'" >Active</option>
              <option value="Completed"*ngIf="ordercurrentstatus=='Active'">Completed</option>
              
  
            </select>
      
             
          </form>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
      <p style="color: white">Please Wait. </p>  
      </ngx-spinner> 
  
  
